{
  "familie_username": "familie",
  "familie_password": "HIER_ECHTES_PASSWORT_EINTRAGEN",
  "person_c_username": "",
  "person_c_password": "",
  "person_d_username": "",
  "person_d_password": ""
}
