{
  "familie_username": "familie",
  "familie_password": "PLATZHALTER_BITTE_ANPASSEN",
  "individual_accounts": {
    "Person1": {
      "username": "",
      "password": ""
    },
    "Person2": {
      "username": "",
      "password": ""
    }
  }
}
