{
  "familie_username": "familie",
  "familie_password": "PLATZHALTER_BITTE_ANPASSEN",
  "benjamin_username": "benjamin",
  "benjamin_password": "PLATZHALTER_BITTE_ANPASSEN",
  "miriam_username": "miriam",
  "miriam_password": "PLATZHALTER_BITTE_ANPASSEN"
}
